/* .helicopter_tour {
    background-image: url('../../../assets/helocopter_tour_image/helocopter_tour.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1349px;
    left: -109.5px;
} */